html {
	font-size: 32px;
	font-family: "Courier New", Courier, monospace;
	color: white;
}

body {
	background-color: #222;
}

.question,
.results {
	text-align: center;
	margin: 200px auto 60px auto;
	width: 1000px;
}

.question>p,
.results>p {
	font-size: 2rem;
}

.question table {
	width: 1000px;
	border: 4px solid yellow;
	border-radius: 30px;
	padding: 30px;
	text-align: left;
}

.question table td,
.correct-answer table {
	padding: 20px 50px;
}

.question>table input {
	position: relative;
	left: 62px;
	bottom: 2px;
	cursor: pointer;
	opacity: 0;
	width: 0.5rem;
	height: 0.5rem;
}

.question label {
	cursor: pointer;
}

.question label::before {
	content: "";
	display: inline-block;
	border: 3px solid yellow;
	border-radius: 7px;
	margin: 0 20px;
	width: 20px;
	height: 20px;
}

input {
	position: relative;
	left: 100px;
	opacity: 0;
}

#avl {
	border: 3px solid yellow;
	padding: 20px;
	width: 1000px;
	background-color: #222;
	border-radius: 25px;
	font-size: 1rem;
	color: white;

	position: static;
	left: 0;
	opacity: 1;
}

input:checked+label::before {
	background-color: yellow;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 900px;
}

.next-question-btn {
	text-decoration: none;
	color: white;
	background-color: gray;
	padding: 30px 50px;
	text-align: center;
	width: 200px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #151515;
}

.prev-question-btn {
	text-decoration: none;
	color: #999;
	background-color: #333;
	padding: 30px 50px;
	text-align: center;
	width: 200px;
	border-radius: 20px;
	box-shadow: none;
	cursor: default;
}

.navigation>a:active {
	transition: 0.2s;
	box-shadow: 1px 1px 10px #111;
}

.question-status {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 1.2rem;
	padding: 20px 80px;
	color: #ddd;
}

.show-results-btn {
	border: 4px solid yellow;
	padding: 50px;
	margin: 100px;
	width: 800px;
	background-color: #222;
	border-radius: 40px;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}

.show-results-btn:hover {
	background-color: Green;
	border-color: DarkGreen;
}

.correct-answer {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 60px;
}

.correct-answer table {
	border: 4px solid yellow;
	border-radius: 20px;
}

.correct-answer table th,
.correct-answer table td {
	padding: 20px;
	width: 300px;
}